:root {
    --main-bg: #EEEEEE;
    --main-color: black;

    --widget-bg: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #222222;
        --main-color: white;

        --widget-bg: #333333;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
    background-color: var(--main-bg);
}

.box {
    width: 500px;
    height: auto;
}

.navigation {
    justify-content: left;
}

.select {
    width: auto;
    border: 2px royalblue solid;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: var(--widget-bg);
    color: var(--main-color);
}

.refresh {
    width: auto;
    border: 2px royalblue solid;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: var(--widget-bg);
    color: var(--main-color);
}
.refresh:hover {
    color: white;
    background-color: royalblue;
    cursor: pointer;
}

.widget {
    border: 2px solid var(--widget-bg);
    border-radius: 15px;
    background-color: var(--widget-bg);
    width: auto;
    margin: 10px;
    padding: 15px;
    margin-bottom: 30px;
}